#board.swimlanes {
    padding-top: 3em;
    padding-left: 5px;
    overflow-x: visible;
    overflow-y: auto;
}

.list {
    max-height: 50em;
}

.swimlanes .list-wrapper {
    position: relative;
    height: auto;
    margin-bottom: 5px;
}

.swimlanes .list-wrapper, 
.swimlanes .list-wrapper:first-child {
    margin-left: 5px;
}

.swimlane-break {
    display: none;
}

.swimlanes .swimlane-break {
    display: block; 
    width: 100%;
    height: 3em; 
    overflow: hidden; 
}

.swimlanes .list-wrapper.swimlane-start:before {
    content: attr(data-swimlane-title);
    display: block;
    position: absolute;
    top: -1.5em;
    left: 0;
    z-index: 2;
    min-width: 50%;
    min-height: 1em;
    padding: .25em 1em .2em .5em;
    font-size: 1.2em;
    color: #eee;
    background: linear-gradient(to right, rgba(20,40,60,1) 0% , rgba(40,60,80,.7) 80%, rgba(40,60,80,.3) 100%);
    border-top-left-radius: 5px;
}
